POSTGRES_DB=sigov
POSTGRES_USER=sigov
POSTGRES_PASSWORD=change_me_local_only
POSTGRES_PORT=5432

APP_ENVIRONMENT=Development
APP_HTTP_PORT=8080
APP_API_HTTP_PORT=5001
APP_HTTPS_PORT=8443

APP_STORAGE_PATH=/app/storage

DATABASE_VALIDATE_SCHEMA_ON_STARTUP=true
DATABASE_FAIL_FAST_ON_INVALID_SCHEMA=false
DATABASE_DISABLE_WORKERS_WHEN_SCHEMA_INVALID=true

OCR_WORKER_ENABLED=false
LOAN_OVERDUE_WORKER_ENABLED=false
PREVIEW_WORKER_ENABLED=false
OUTBOX_WORKER_ENABLED=false

ASPNETCORE_URLS=http://+:8080

SIGOV_BRANDING_NAME=SIGOV
SIGOV_RELEASE_CHANNEL=dev
