SIGOV_DB_HOST=localhost
SIGOV_DB_PORT=5432
SIGOV_DB_NAME=sigov
SIGOV_DB_USER=sigov
SIGOV_DB_PASSWORD=change_me
SIGOV_WEB_URL=http://localhost:5000
SIGOV_API_URL=http://localhost:5001
SIGOV_STORAGE_PATH=.local/storage
SIGOV_RUN_WORKER=true
SIGOV_RUN_MIGRATIONS=false
