ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=sigov
POSTGRES_USER=sigov
POSTGRES_PASSWORD=change-me
ConnectionStrings__DefaultConnection=Host=sigov-postgres;Port=5432;Database=sigov;Username=sigov;Password=change-me
Sigov__Jwt__Secret=replace-with-at-least-32-characters
Sigov__Security__CorsAllowedOrigins__0=http://localhost:5000
